.card{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    background-color: lightpink;
    margin: 0.5rem;
    font-weight: bold;
    border-radius: 0.4rem;
}

.card:hover{
    box-shadow: 5px 5px 15px 0px rgba(1, 208, 109, 0.6);
}

.lbl-name{
    padding-bottom: 3rem;
}

img{
    width: 10rem;
    height: 12rem;
    background-color: antiquewhite;
    border-radius: 0.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1rem;
}