.card{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    background-color: lightpink;
    margin: 0.5rem;
    font-weight: bold;
    border-radius: 0.4rem;
}

.lbl-name{
    padding-bottom: 3rem;
}